body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-control {
  border-radius: 30px;
}

.bton {
  background-color: #6a11cb;
  border-color: #6a11cb;
  border-radius: 30px;
}

.bton:hover {
  background-color: #2575fc;
  border-color: #2575fc;
}

.header {
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}
